/* Make the profile headshot 80% of the default size */
.profile figure img {
  max-width: 80%;
  height: auto;
}

/* Make social logos below the photo 50% of the default size */
.profile .contact-icons {
  font-size: 2rem;
}

.profile .contact-icons a img {
  width: 1.6rem;
  height: 1.6rem;
  margin-bottom: 0.5rem;
}

.profile .contact-icons a svg {
  width: 1.75rem;
  height: 2rem;
  margin-bottom: 0.25rem;
}

.profile .contact-icons a svg image {
  width: 1.75rem;
  height: 1.75rem;
}